.team-info {
    background-color: #314C51;
    padding: 10vh 10vw;
    color:#F8F8F8;
    font-size:18px;
    min-height: 900px;
}

.companies ol li span {
    font-weight: 700;
}

.companies {
    padding-top: 150px;
    padding-left:25vw;
}

.team-info__bg-logo {
    position:relative;
}
.team-info__bg-logo > img {
    position:absolute;
    left:10vw;
    top:10vh;
}


.team-info__bg-logo span {
    position:absolute;
    color: rgba(255,255,255,0.1);
    left:17vw;
    top:10vh;
    font-size: 324px;
}